<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>VSG | Discuss</title>
        <!-- CSS only -->
        <link rel="stylesheet"
            href="/css/vender/bootstrap/bootstrap.min.css">
        <script src="https://kit.fontawesome.com/85ab26cb10.js"
            crossorigin="anonymous"></script>
        <link rel="stylesheet"
            href="/css/dark-mode/ask-dark.css">
    </head>
    <body>

        <header class="header-discuss">
            <div class="header-back">
                <button class="btn btn-secondary back">&lt; Home</button>
            </div>
            <div class="header-name-group"><%= group.group_name %></div>
            <div class="dropdown header-dropdown-mode">
                <button class="btn btn-secondary dropdown-toggle" type="button"
                    id="dropdownModeButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Dark Mode
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownModeButton">
                    <a class="dropdown-item"
                        href="../light-mode/light-mode.html">Light Mode</a>
                    <a class="dropdown-item" href="#">Dark Mode</a>
                </div>
            </div>

        </header>

        <section class="body-discuss container-fluid">
            <div class="row">
                <div class="content col-8">
                    <div class="options-bar">
                        <a href="/chat/<%= group._id %>" class="option
                            discuss-option active">Discuss</a>
                        <span class="separate-option">|</span>
                        <a href="/chat/<%= group._id %>/file" class="option
                            file-option">File</a>
                        <span class="separate-option">|</span>
                        <span class="separate-option">|</span>
                        <a href="/chat/<%= group._id %>/ask" class="option ask-option">Ask</a>
                        <span class="separate-option">|</span>
                        <a href="/chat/<%= group._id %>/buddies" class="option
                            buddies-option">Buddies</a>
                    </div>