<%- include("../partials/chat-header") %>
  <section class="body-discuss container-fluid">
            <div class="row">
                <div class="content col-8">
                    <div class="options-bar">
                        <a href="/chat/<%= group._id %>" class="option
                            discuss-option">Discuss</a>
                        <span class="separate-option">|</span>
                        <a href="/chat/<%= group._id %>/file" class="option
                            file-option">File</a>
                        <span class="separate-option">|</span>
                        <span class="separate-option">|</span>
                        <a href="/chat/<%= group._id %>/ask" class="option ask-option active">Ask</a>
                        <span class="separate-option">|</span>
                        <a href="/chat/<%= group._id %>/buddies" class="option
                            buddies-option">Buddies</a>
                    </div>
                     <div class="ask-content">
                        <div class="description description-title">Title</div>
                        <div class="input-group title">
                            <!-- prettier-ignore-attribute -->
                            <textarea class="form-control"
                                aria-label="With textarea"
                                placeholder="Type your title"></textarea>
                        </div>
                        <div class="description description-question">Question</div>
                        <div class="input-group question">
                            <textarea class="form-control" aria-label="With
                                textarea" placeholder="Type your question"></textarea>
                        </div>
                        <div class="description description-tag">Tag</div>
                        <div class="input-group tag">
                            <textarea class="form-control" aria-label="With
                                textarea" placeholder="Add tags"></textarea>
                        </div>
                        <div class="button-container">
                            <button class="btn btn-primary">Post</button>
                        </div>
                    </div>
<%- include("../partials/chat-footer") %>
