<%- include("../partials/chat-header") %>
<link rel="stylesheet" href="/css/dark-mode/buddies-dark.css">
</head>


<body style="background-color: #141D26;">

  <header class="header-discuss">
    <div class="header-back">
      <button class="btn btn-secondary back">&lt; Home</button>
    </div>
    <div class="header-name-group"><%= group.group_name %></div>
    <div class="dropdown header-dropdown-mode">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownModeButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Dark Mode
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownModeButton">
        <a class="dropdown-item" href="#">Dark Mode</a>
      </div>
    </div>

  </header>

  <section class="body-discuss container-fluid">
    <div class="row">
      <div class="content col-8">
        <div class="options-bar">
          <a href="/chat/<%= group._id %>" class="option
                            discuss-option">Discuss</a>
          <span class="separate-option">|</span>
          <a href="/chat/<%= group._id %>/file" class="option
                            file-option">File</a>
          <span class="separate-option">|</span>
          <span class="separate-option">|</span>
          <a href="/chat/<%= group._id %>/ask" class="option ask-option">Ask</a>
          <span class="separate-option">|</span>
          <a href="/chat/<%= group._id %>/buddies" class="option
                            buddies-option active">Buddies</a>
        </div>

        <div class="list-friends">
          <% groupMembers.map(member => { %>
          <div class="friend">
            <div class="container-avatar">
              <div class="image-avatar">
                <img src="/assets/img/empty.jpg" alt="Avatar" class="img-fluid">
              </div>
            </div>
            <div class="name-user">
              <%= member.username %>
            </div>
          </div>
          <% }) %>
        </div>

      </div>
      <%- include("../partials/chat-footer") %>