<%- include("../partials/chat-header") %>
<link rel="stylesheet" href="/css/dark-mode/dark-mode.css">
</head>

<body>

	<header class="header-discuss">
		<div class="header-back">
			<button class="btn btn-secondary back">&lt; Home</button>
		</div>
		<div class="header-name-group"><%= group.group_name %></div>
		<div class="dropdown header-dropdown-mode">
			<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownModeButton" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false">
				Dark Mode
			</button>
			<div class="dropdown-menu" aria-labelledby="dropdownModeButton">
				<a class="dropdown-item" href="../light-mode/light-mode.html">Light Mode</a>
				<a class="dropdown-item" href="#">Dark Mode</a>
			</div>
		</div>

	</header>
	<section class="body-discuss container-fluid">
		<div class="row">
			<div class="content col-8">
				<div class="options-bar">
					<a href="/chat/<%= group._id %>" class="option
                            discuss-option active">Discuss</a>
					<span class="separate-option">|</span>
					<a href="/chat/<%= group._id %>/file" class="option
                            file-option">File</a>
					<span class="separate-option">|</span>
					<span class="separate-option">|</span>
					<a href="/chat/<%= group._id %>/ask" class="option ask-option">Ask</a>
					<span class="separate-option">|</span>
					<a href="/chat/<%= group._id %>/buddies" class="option
                            buddies-option">Buddies</a>
				</div>
				<div class="list-discuss">
					<div class="list-item">
						<div class="publish-infor">
							<div class="time-publish">3 days ago</div>
							<div class="author-publish">Sarapullman</div>
						</div>
						<a href="discuss-detail-dark.html" class="question-title">What is bayes
							algorithm?
							And how does it work>?</a>
						<div class="items-contact">
							<div class="reaction">
								<i class="far fa-thumbs-up"></i>
								<div class="number-reaction
                                        font-weight-bold">3</div>
							</div>
							<div class="comment">
								<i class="far fa-comment-alt"></i>
								<div class="number-comment
                                        font-weight-bold">0</div>
							</div>
						</div>
					</div>
					<div class="list-item">
						<div class="publish-infor">
							<div class="time-publish">3 days ago</div>
							<div class="author-publish">Sarapullman</div>
						</div>
						<a href="discuss-detail-dark.html" class="question-title">What is bayes
							algorithm?
							And how does it work>?</a>
						<div class="items-contact">
							<div class="reaction">
								<i class="far fa-thumbs-up"></i>
								<div class="number-reaction
                                        font-weight-bold">3</div>
							</div>
							<div class="comment">
								<i class="far fa-comment-alt"></i>
								<div class="number-comment
                                        font-weight-bold">0</div>
							</div>
						</div>
					</div>
					<div class="list-item">
						<div class="publish-infor">
							<div class="time-publish">3 days ago</div>
							<div class="author-publish">Sarapullman</div>
						</div>
						<a href="discuss-detail-dark.html" class="question-title">What is bayes
							algorithm?
							And how does it work>?</a>
						<div class="items-contact">
							<div class="reaction">
								<i class="far fa-thumbs-up"></i>
								<div class="number-reaction
                                        font-weight-bold">3</div>
							</div>
							<div class="comment">
								<i class="far fa-comment-alt"></i>
								<div class="number-comment
                                        font-weight-bold">0</div>
							</div>
						</div>
					</div>
					<div class="list-item">
						<div class="publish-infor">
							<div class="time-publish">3 days ago</div>
							<div class="author-publish">Sarapullman</div>
						</div>
						<a href="discuss-detail-dark.html" class="question-title">What is bayes
							algorithm?
							And how does it work>?</a>
						<div class="items-contact">
							<div class="reaction">
								<i class="far fa-thumbs-up"></i>
								<div class="number-reaction
                                        font-weight-bold">3</div>
							</div>
							<div class="comment">
								<i class="far fa-comment-alt"></i>
								<div class="number-comment
                                        font-weight-bold">0</div>
							</div>
						</div>
					</div>
					<div class="list-item">
						<div class="publish-infor">
							<div class="time-publish">3 days ago</div>
							<div class="author-publish">Sarapullman</div>
						</div>
						<a href="discuss-detail-dark.html" class="question-title">What is bayes
							algorithm?
							And how does it work>?</a>
						<div class="items-contact">
							<div class="reaction">
								<i class="far fa-thumbs-up"></i>
								<div class="number-reaction
                                        font-weight-bold">3</div>
							</div>
							<div class="comment">
								<i class="far fa-comment-alt"></i>
								<div class="number-comment
                                        font-weight-bold">0</div>
							</div>
						</div>
					</div>
					<div class="list-item">
						<div class="publish-infor">
							<div class="time-publish">3 days ago</div>
							<div class="author-publish">Sarapullman</div>
						</div>
						<a href="discuss-detail-dark.html" class="question-title">What is bayes
							algorithm?
							And how does it work>?</a>
						<div class="items-contact">
							<div class="reaction">
								<i class="far fa-thumbs-up"></i>
								<div class="number-reaction
                                        font-weight-bold">3</div>
							</div>
							<div class="comment">
								<i class="far fa-comment-alt"></i>
								<div class="number-comment
                                        font-weight-bold">0</div>
							</div>
						</div>
					</div>
				</div>
				<div class="list-page">
					<div class="previous">Previous</div>
					<span class="separate-page">|</span>
					<span class="page-number">1</span>
					<span class="separate-page">|</span>
					<span class="page-number">2</span>
					<span class="separate-page">|</span>
					<span class="page-number">3</span>
					<span class="separate-page">|</span>
					<span class="page-number">4</span>
					<span class="separate-page">|</span>
					<span class="separate-three-dot">...</span>
					<span class="page-number last-page">100</span>
					<span class="separate-page">|</span>
					<div class="next">Next</div>
				</div>
			</div>
			<%- include("../partials/chat-footer") %>