<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>VSG | Discuss</title>
        <link rel="stylesheet"
            href="/css/vender/bootstrap/bootstrap.min.css">
        <script src="https://kit.fontawesome.com/85ab26cb10.js"
            crossorigin="anonymous"></script>
        <link rel="stylesheet"
            href="/css/dicuss.css">
    </head>
    <body>

        <header class="header-discuss">
            <div class="header-back">
                <button class="btn btn-secondary back">&lt; Home</button>
            </div>
            <div class="header-name-group"><%=locals.group.group_name%></div>
        </header>
	</header>
	<section class="body-discuss container-fluid">
		<div class="row">
			<div class="content col-8">
				<div class="options-bar">
					<a href="/chat/<%= group._id %>" class="option
                            discuss-option active">Discuss</a>
					<span class="separate-option">|</span>
					<a href="/chat/<%= group._id %>/file" class="option
                            file-option">File</a>
					<span class="separate-option">|</span>
					<span class="separate-option">|</span>
					<a href="/chat/<%= group._id %>/ask" class="option ask-option">Ask</a>
					<span class="separate-option">|</span>
					<a href="/chat/<%= group._id %>/buddies" class="option
                            buddies-option">Buddies</a>
				</div>
				<div class="list-discuss">
					<div class="list-item">
						<div class="publish-infor">
							<div class="time-publish">3 days ago</div>
							<div class="author-publish">Sarapullman</div>
						</div>
						<a href="discuss-detail-dark.html" class="question-title">What is bayes
							algorithm?
							And how does it work>?</a>
						<div class="items-contact">
							<div class="reaction">
								<i class="far fa-thumbs-up"></i>
								<div class="number-reaction
                                        font-weight-bold">3</div>
							</div>
							<div class="comment">
								<i class="far fa-comment-alt"></i>
								<div class="number-comment
                                        font-weight-bold">0</div>
							</div>
						</div>
					</div>
					<div class="list-item">
						<div class="publish-infor">
							<div class="time-publish">3 days ago</div>
							<div class="author-publish">Sarapullman</div>
						</div>
						<a href="discuss-detail-dark.html" class="question-title">What is bayes
							algorithm?
							And how does it work>?</a>
						<div class="items-contact">
							<div class="reaction">
								<i class="far fa-thumbs-up"></i>
								<div class="number-reaction
                                        font-weight-bold">3</div>
							</div>
							<div class="comment">
								<i class="far fa-comment-alt"></i>
								<div class="number-comment
                                        font-weight-bold">0</div>
							</div>
						</div>
					</div>
					<div class="list-item">
						<div class="publish-infor">
							<div class="time-publish">3 days ago</div>
							<div class="author-publish">Sarapullman</div>
						</div>
						<a href="discuss-detail-dark.html" class="question-title">What is bayes
							algorithm?
							And how does it work>?</a>
						<div class="items-contact">
							<div class="reaction">
								<i class="far fa-thumbs-up"></i>
								<div class="number-reaction
                                        font-weight-bold">3</div>
							</div>
							<div class="comment">
								<i class="far fa-comment-alt"></i>
								<div class="number-comment
                                        font-weight-bold">0</div>
							</div>
						</div>
					</div>
					<div class="list-item">
						<div class="publish-infor">
							<div class="time-publish">3 days ago</div>
							<div class="author-publish">Sarapullman</div>
						</div>
						<a href="discuss-detail-dark.html" class="question-title">What is bayes
							algorithm?
							And how does it work>?</a>
						<div class="items-contact">
							<div class="reaction">
								<i class="far fa-thumbs-up"></i>
								<div class="number-reaction
                                        font-weight-bold">3</div>
							</div>
							<div class="comment">
								<i class="far fa-comment-alt"></i>
								<div class="number-comment
                                        font-weight-bold">0</div>
							</div>
						</div>
					</div>
					<div class="list-item">
						<div class="publish-infor">
							<div class="time-publish">3 days ago</div>
							<div class="author-publish">Sarapullman</div>
						</div>
						<a href="discuss-detail-dark.html" class="question-title">What is bayes
							algorithm?
							And how does it work>?</a>
						<div class="items-contact">
							<div class="reaction">
								<i class="far fa-thumbs-up"></i>
								<div class="number-reaction
                                        font-weight-bold">3</div>
							</div>
							<div class="comment">
								<i class="far fa-comment-alt"></i>
								<div class="number-comment
                                        font-weight-bold">0</div>
							</div>
						</div>
					</div>
					<div class="list-item">
						<div class="publish-infor">
							<div class="time-publish">3 days ago</div>
							<div class="author-publish">Sarapullman</div>
						</div>
						<a href="discuss-detail-dark.html" class="question-title">What is bayes
							algorithm?
							And how does it work>?</a>
						<div class="items-contact">
							<div class="reaction">
								<i class="far fa-thumbs-up"></i>
								<div class="number-reaction
                                        font-weight-bold">3</div>
							</div>
							<div class="comment">
								<i class="far fa-comment-alt"></i>
								<div class="number-comment
                                        font-weight-bold">0</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-page">
                        <div class="previous">Previous</div>
                        <span class="separate-page">|</span>
                        <span class="page-number">1</span>
                        <span class="separate-page">|</span>
                        <span class="page-number">2</span>
                        <span class="separate-page">|</span>
                        <span class="page-number">3</span>
                        <span class="separate-page">|</span>
                        <span class="page-number">4</span>
                        <span class="separate-page">|</span>
                        <span class="separate-three-dot">...</span>
                        <span class="page-number last-page">100</span>
                        <span class="separate-page">|</span>
                        <div class="next">Next</div>
                    </div>
                </div>

                <div class="message col-4" id="test">
                    <div class="search-message">
                        <i class="close far fa-window-close"></i>
                    </div>
                    <div class="buffer-search-message">
                    </div>
                    <div class="content-group-message">
                        <div id='message-box'>
                            <%for (let i = 0; i < locals.messages.length; ++i) {%>
                                <%if (locals.messages[i].author == currentUser.username) {%>
                                    <div class="my-message">
                                        <div class="my-message-content"><%=locals.messages[i].message%>
                                        </div>
                                    </div>
                                <%} else {%>
                                    <div class="another-message">
                                        <div class="image"><img src="<%='data:image/png;base64, ' + locals.messages[i].profile_image.data%>" class="img-fluid"/>
                                        </div>
                                        <div class="message-content"><%=locals.messages[i].message%>
                                        </div>
                                    </div>
                                <%}%>
                            <%}%>
                        </div>
                        <div class="buffer-input-message">
                        </div>
                    </div>
                    <div class="col-3 input-message">
                        <input id='input-message' class="form-control" placeholder="Type something" style="color: var(--message-content-color);"/>
                        <i class="send fas fa-paper-plane" onclick="sendMsg();event.preventDefault();"></i>
                        <i class="open fas fa-comments d-none fa-2x"></i>
                    </div>
                </div>
            </div>
        </section>

        <!-- JS, Popper.js, and jQuery -->
        <script>
            var globalVar = {
                userName: '<%=currentUser.username%>',
                groupName: '<%=locals.group.group_name%>'
            };
        </script>
        <script src="/js/vender/jquery-3.5.1.slim.min.js"></script>
        <script src="/js/vender/popper.min.js"></script>
        <script src="/js/vender/bootstrap.min.js"></script>
        <script src="/js/vender/socket.io.js"></script>
        <script src="/js/chat.js"></script>
        <script src="/js/open-close.js"></script>
    </body>
</html>
