<%- include("../partials/chat-header") %>
<link rel="stylesheet" href="/css/dark-mode/file-dark-mode.css">
</head>

<body>

  <header class="header-discuss">
    <div class="header-back">
      <button class="btn btn-secondary back">&lt; Home</button>
    </div>
    <div class="header-name-group"><%= group.group_name %></div>
    <div class="dropdown header-dropdown-mode">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownModeButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Dark Mode
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownModeButton">
        <a class="dropdown-item" href="#">Dark Mode</a>
      </div>
    </div>

  </header>

  <section class="body-discuss container-fluid">
    <div class="row">
      <div class="content col-8">
        <div class="options-bar">
          <a href="/chat/<%= group._id %>" class="option
                            discuss-option">Discuss</a>
          <span class="separate-option">|</span>
          <a href="/chat/<%= group._id %>/file" class="option
                            file-option active">File</a>
          <span class="separate-option">|</span>
          <span class="separate-option">|</span>
          <a href="/chat/<%= group._id %>/ask" class="option ask-option">Ask</a>
          <span class="separate-option">|</span>
          <a href="/chat/<%= group._id %>/buddies" class="option
                            buddies-option">Buddies</a>
        </div>

        <div class="search-file input-group mb-3">
          <input type="text" class="form-control" placeholder="Search file" aria-label="Recipient's username"
            aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
          </div>
        </div>

        <!-- Add what you want -->
        <div class="list-file-uploaded">
          <div class="item-file-uploaded">
            <a href="#" class="link-item-file-uploaded">file.pdf</a>
            <div class="time-item-file-uploaded">3 day ago</div>
            <div class="author-item-file-uploaded">hqd09</div>
          </div>
        </div>

        <div class="custom-file">
          <div class="form-description">Want to upload your file?</div>
          <form>
            <label class="btn btn-primary" for="upload">
              Upload
              <input class="file-browse isVisuallyHidden" id="upload" type="file" multiple required />
            </label>
          </form>
        </div>
      </div>
      <%- include("../partials/chat-footer") %>