<%- include("../partials/header") %>
<main>
    <div class="mt-5 container">
        <header>
            <h1 class="title">YOUR STUDY GROUPS</h1>
            <%- include("../partials/filter") %>
        </header>
    </div>
    <% if (groups.length == 0) { %>
    <%- include("../partials/empty") %>
    <% } else { %>
    <div id="dashboard" class="container-fluid">
        <div class="groups mt-4">
            <div class="row">
                <% groups.map(group => {  %>
                <div class="mt-3 col-sm-6 col-lg-3">
                    <div class="card" id="<%= group.group._id %>">
                        <img src="data:<%= group.group.cover_image.mimetype %>;base64,<%= group.group.cover_image.data %>"
                            class="card-img-top" alt="course-img">
                        <div class="card-body">
                            <h4 class="card-title"> <%= group.group.group_name %></h4>
                            <p><i class="fa fa-users"></i> <span> <%= group.group.members.length %></span>
                                members</p>
                            <p><i clss="fa fa-history"></i> <%= group.group.created_at.toLocaleDateString('en-CA') %>
                            </p>
                            <p class="mb-0"><i class="fa fa-star"></i> <%= group.group.stars %></p>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
    <% } %>
</main>
<%- include("../partials/footer") %>