<%- include("../partials/header") %>
<main>
  <div class="container">
    <div class="card">
      <div class="row no-gutters">
        <div class="col-md-4 pb-none">
          <div class="p-3">
            <img src="data:<%= group.cover_image.mimetype %>;base64,<%= group.cover_image.data %>" class="card-img-top" alt="...">
            <div class="btn-group w-100">
              <button class="btn btn-warning text-light
                              rounded-0 mt-2 mr-2 gotochat" id="<%= group._id %>" ><i class="fa fa-paper-plane mr-1"></i>Go
                to group</button>
              <button class="btn btn-info rounded-0 mt-2 settings" id="<%= group._id %>">
                <i class="fa fa-cog mr-1"></i>
                Settings
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title font-weight-bold
                          text-warning"><%= group.group_name %></h5>
            <p class="card-text"><strong>Description</strong> <%= group.description%></p>
            <p class="card-text"><strong>Owner</strong></p>
            <p class="card-text"><strong>Members</strong><span> <%= group.members.length %></span></p>
            <p class="card-text"><strong>Created date</strong><span>
                <%= group.created_at.toLocaleDateString('en-CA') %></span></p>
            <p class="card-text"><strong>Star</strong><span> <%= group.stars %></span></p>
          </div>
        </div>
      </div>
    <div class="my-5">
      <h3 class="text-center text-md-left">
        <i class="ml-3 fa fa-arrow-circle-right" style="font-size: 2rem;"></i>
        Requests (<%= group.waiting_list.length %>)
      </h3>
      <div class="overflow-auto" style="max-height: 500px;">
        <% group.waiting_list.map(waiter => {  %>
        <div class="pt-2 d-flex align-items-center">
          <div>
            <img src="data:<%= waiter.userenroll.profile_image.mimetype %>;base64,<%= waiter.userenroll.profile_image.data %>" class= "avatar rounded-circle">
          </div>
          <div class="ml-3">
            <h6 class="font-weight-bold mx-3 mb-3"><%= waiter.userenroll.username %></h6>
            <div class="d-flex"> 
             <form action="/groups/build/accept" method="POST">
                <input style="display: none;" type="text" name="userid" value="<%= waiter.userenroll._id %>" />
                <input style="display: none;" type="text" name="groupid" value="<%= group._id %>" />
                <button type="submit" class="btn btn-success rounded-0 btn-sm">
                  <i class="fa fa-check"></i>
                  Accept
                </button>
              </form>
              <form action="/groups/build/reject" method="POST">
                <input style="display: none;" type="text" name="userid" value="<%= waiter.userenroll._id %>" />
                <input style="display: none;" type="text" name="groupid" value="<%= group._id %>" />
                <button type="submit" class="ml-2 btn btn-danger rounded-0 btn-sm">
                  <i class="fa fa-times"></i>
                  Reject
                </button>
              </form>
            </div>
          
          </div>
        </div>
        <% }) %>
      </div>
    </div>
    <div class="mt-5">
      <h3 class="mb-2 text-center text-md-left"><i class="ml-3 fa fa-comments" style="font-size: 2rem;"></i> Comments
        (<%= group.comments.length %>)</h3>
      <div class="container-fluid">
        <div class="row flex-column flex-sm-row py-2 align-items-center align-items-sm-left">
          <% group.comments.map(comment => { %>
          <div class="border-top">
            <div class="col-3">
              <img src="<%= comment.author_image %>" class=" avatar rounded-circle">
              <p class="m-2 font-weight-bold"><%= comment.author_name %></p>
            </div>
            <div class="col-9">
              <p class="card-subtitle mb-2"><small
                  class="text-muted"><%= group.created_at.toLocaleDateString('en-CA') %></small></p>
              <p><%= comment.content %></p>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
      <div class="text-center mt-4 mb-5">
        <h1 class="text-warning font-weight-bold" style="font-size: 1.5rem;">GO TO YOUR GROUP NOW TO CONNECT WITH PEOPLE!</h1>
      </div>
    </div>
  </div>
  </div>
  </div>
</main>
<%- include("../partials/footer") %>