<%- include("../partials/header") %>
<main class="container-fluid">
  <div class="row">
    <div class="col-md-3 p-3" style="min-width: 50px;">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Settings</h5>
        </div>
      </div>
    </div>
    <div class="col-md-9 p-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Details</h5>
          <form method="POST" action="/groups/edit/changegroupinfo" enctype="multipart/form-data">
            <input style="display: none;" type="text" name="groupid" value="<%= group._id %>" />
            <div class="form-group">
              <label for="input-title">Title</label>
              <input type="text" class="form-control
                              bg-light" name="groupname" id="input-title" value="<%= group.group_name %>">
            </div>
            <div class="form-group">
              <label for="input-description">Description</label>
              <input class="form-control bg-light" id="input-description" name="groupdescription"
                value="<%= group.description %>"></input>
            </div>
            <div class="form-group">
              <label for="input-file">Cover photo</label>
              <input type="file" class="form-control-file" id="input-file" name="picture" accept="image/*">
            </div>
            <button type="submit" class="btn btn-warning
                          text-light float-right">Save</button>
          </form>
        </div>
      </div>
      <div class="card mt-5 border-danger">
        <div class="card-body">
          <h5 class="card-title">Important</h5>
          <form class="px-2" action="/groups/edit/accesssetting" method="POST">
            <% if (group.view_mode === true) { %>
            <div class="form-group bg-light row
                          align-items-center py-3">
              <div class="col">
                <h6>Manage access</h6>
                <p class="mb-0">Only members in group
                  can view when it goes private</p>
              </div>
              <div class="col">
                <input type="text" style="display: none;" name="accessmode" value="private" />
                <input type="text" style="display: none;" name="groupid" value="<%= group._id %>" />
                <button type="submit" class="ml-3 btn
                                  btn-danger text-light float-right">Go
                  <span>private</span></button>
              </div>
            </div>
            <% } else { %>
            <div class="form-group bg-light row
                                  align-items-center py-3">
              <div class="col">
                <h6>Manage access</h6>
                <p class="mb-0">Only members in group
                  can view when it goes public</p>
              </div>
              <div class="col">
                <input type="text" style="display: none;" name="accessmode" value="public" />
                <input type="text" style="display: none;" name="groupid" value="<%= group._id %>" />
                <button type="submit" class="ml-3 btn
                                          btn-danger text-light float-right">Go
                  <span>public</span></button>
              </div>
            </div>
            <% } %>
          </form>

          <div class="form-group bg-light row
                          align-items-center py-3">
            <div class="col">
              <h6>Delete this study group</h6>
              <p class="mb-0">Your and everyone wiill
                never see this group again. Are you
                sure?</p>
            </div>
            <div class="col">
              <form action="/groups/edit/deletegroup" method="POST">
                <input style="display: none;" type="text" name="groupid" value="<%= group._id %>" />
                <button type="submit" class="ml-3 btn
                                    btn-danger text-light float-right">Delete
                  this group</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include("../partials/footer") %>